.whole {
  display: flex;
  flex-direction: column;
}
main {
  padding: 0rem 6rem;
}
footer {
  text-align: center;
  font-size: 0.7rem;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  width: 100%;
}
